shinyapp/R/.DS_Store
shinyapp/.DS_Store
shinyapp/.Rproj.user/C2B8923D/jobs/8DFBA3DA-output.json
shinyapp/.Rproj.user/C2B8923D/pcs/files-pane.pper
shinyapp/.Rproj.user/C2B8923D/pcs/source-pane.pper
shinyapp/.Rproj.user/C2B8923D/pcs/source-window.pper
shinyapp/.Rproj.user/C2B8923D/pcs/windowlayoutstate.pper
shinyapp/.Rproj.user/C2B8923D/pcs/workbench-pane.pper
shinyapp/.Rproj.user/C2B8923D/rmd-outputs
shinyapp/.Rproj.user/C2B8923D/saved_source_markers
shinyapp/.Rproj.user/C2B8923D/sources/per/t/4A1D1280
shinyapp/.Rproj.user/C2B8923D/sources/per/t/4A1D1280-contents
shinyapp/.Rproj.user/C2B8923D/sources/per/t/506FA823
shinyapp/.Rproj.user/C2B8923D/sources/per/t/506FA823-contents
shinyapp/.Rproj.user/C2B8923D/sources/per/t/BF524F10
shinyapp/.Rproj.user/C2B8923D/sources/per/t/BF524F10-contents
shinyapp/.Rproj.user/C2B8923D/sources/prop/47ACEF05
shinyapp/.Rproj.user/C2B8923D/sources/prop/5B837178
shinyapp/.Rproj.user/C2B8923D/sources/prop/A2280B91
shinyapp/.Rproj.user/C2B8923D/sources/prop/C01118C4
shinyapp/.Rproj.user/C2B8923D/sources/prop/C40665D9
shinyapp/.Rproj.user/C2B8923D/sources/prop/CE9A622D
shinyapp/.Rproj.user/C2B8923D/sources/prop/FA38EE33
shinyapp/.Rproj.user/C2B8923D/sources/prop/INDEX
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/C2B8923D77745500/chunks.json
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/C2B8923D9d719de5/chunks.json
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/000017.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/000018.html
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/000018.json
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/000018.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/000019.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/00001a.html
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/00001a.json
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cd42csdowoumf/00001a.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cg1bxzbofz7dw/000045.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cg1bxzbofz7dw/000046.html
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cg1bxzbofz7dw/000046.json
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cg1bxzbofz7dw/000046.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cg1bxzbofz7dw/000047.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/chunks.json
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cio27hbd32nue/000041.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cio27hbd32nue/000042.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cio27hbd32nue/000042.rdf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cio27hbd32nue/000043.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cio27hbd32nue/000044.html
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cio27hbd32nue/000044.json
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cio27hbd32nue/000044.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cm5fgqvp38oha/000011.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cm5fgqvp38oha/000012.error
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cmbnh0whv4hu4/00000f.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cmbnh0whv4hu4/000010.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cmbnh0whv4hu4/000010.rdf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cmbnh0whv4hu4/000011.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cvw9nge2y4kkr/00000f.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cvw9nge2y4kkr/000010.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cvw9nge2y4kkr/000010.rdf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cvw9nge2y4kkr/000011.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cvw9nge2y4kkr/000012.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cvw9nge2y4kkr/000012.png
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cvw9nge2y4kkr/000012.snapshot
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cw4jiidfes19a/00000f.csv
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cw4jiidfes19a/000010.metadata
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/cw4jiidfes19a/000010.rdf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.css.map
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/bootstrap-theme.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/bootstrap.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/bootstrap.css.map
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/bootstrap.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/cerulean.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/cosmo.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/darkly.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/flatly.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/Lato.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/LatoBold.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/LatoItalic.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/NewsCycle.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/NewsCycleBold.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSans.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansBold.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansBoldItalic.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansItalic.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansLight.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/OpenSansLightItalic.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/Raleway.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/RalewayBold.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/Roboto.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoBold.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoLight.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/RobotoMedium.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansPro.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProBold.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProItalic.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/SourceSansProLight.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/fonts/Ubuntu.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/journal.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/lumen.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/paper.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/readable.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/sandstone.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/simplex.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/spacelab.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/united.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/css/yeti.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.eot
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.svg
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.ttf
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/fonts/glyphicons-halflings-regular.woff2
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/js/bootstrap.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/js/bootstrap.min.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/js/npm.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/shim/html5shiv.min.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/bootstrap-3.3.5/shim/respond.min.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/crosstalk-1.2.1/css/crosstalk.min.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/crosstalk-1.2.1/js/crosstalk.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/crosstalk-1.2.1/js/crosstalk.js.map
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/crosstalk-1.2.1/js/crosstalk.min.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/crosstalk-1.2.1/js/crosstalk.min.js.map
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/crosstalk-1.2.1/scss/crosstalk.scss
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/htmltools-fill-0.5.8.1/fill.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/htmlwidgets-1.6.4/htmlwidgets.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/jquery-3.5.1/jquery-AUTHORS.txt
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/jquery-3.5.1/jquery.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/jquery-3.5.1/jquery.min.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/jquery-3.5.1/jquery.min.map
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/jquery-3.6.0/jquery-3.6.0.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/jquery-3.6.0/jquery-3.6.0.min.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/jquery-3.6.0/jquery-3.6.0.min.map
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/kePrint-0.0.1/kePrint.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/lightable-0.0.1/lightable.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/plotly-binding-4.10.4/plotly.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/plotly-main-2.11.1/plotly-latest.min.js
shinyapp/.Rproj.user/shared/notebooks/7AE32961-2k Factor Design/1/s/lib/typedarray-0.1/typedarray.min.js
shinyapp/.Rproj.user/shared/notebooks/patch-chunk-names
shinyapp/.Rproj.user/shared/notebooks/paths
.DS_Store
